:root
	background: #121212
	color: white
	overflow-x: hidden

:root, button, input, textarea
	font-family: 'Roboto Flex Normal'

body
	margin: 0

::placeholder
	font-size: 1rem
	color: white
	opacity: 0.4

::-webkit-scrollbar
	position: absolute
	width: 0.75rem
	height: 0.75rem
	&-track, &-corner
		background: none
	&-thumb
		border-radius: 9rem
		background: #222
		&:hover
			background: #363636

button
	cursor: pointer
